.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span{
  font-family: 'Croissant One', 'Helvetica', 'Arial';
  font-size: 30px;
  color: red;
  font: bold;
}

.navbar-brand{
  font-family: 'Croissant One', 'Helvetica', 'Arial';
}

body{
  background-color:  #482496;
}

.card-text{
  color: red;
}

#uno{
  color: yellow;
}

#dos{
  color: blue;
}

#decrease, #increase{
  border: 1px solid #ee3124;
  border-radius: 5px;
  width: 40%;
}

.btn-hover:hover{
  background-color: #a81410 !important;
}

#total{
  font-size: 30px;
  color: red;
}
